body {
  background-image:url(https://www.independentarabia.com/sites/default/files/styles/1368x911/public/article/mainimage/2019/01/17/3296-1391593482.jpg?itok=rxNovtUq);
}

#outer
{
    width:100%;
    text-align: center;
    padding-top: 100px;
}

input:hover {
    background-color: rgba(100, 181, 246, 1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
}

.inner
{
    display: inline-block;
    margin: 30px;

}


.vertical {
  margin: 30px;
}

.vertical1 {
 margin: 30px;
}
